<% if @mocha_suite %>
  <%= content_for(:mocha_javascripts) do %>
    <%= javascript_include_tag "mocha_rails/application" %>
    <%= javascript_include_tag @mocha_suite %>
  <% end %>
<% else %>
  <div class="test fail">
    Test suite not found
  </div>
<% end %>
